.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

body {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

header {
  padding-left: 5%;
  padding-right: 5%;
}

header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20rem;
}

nav ul {
  list-style: none;
  text-align: center;
}

nav li {
  display: inline-block;
  padding: 1em;
}

main {
  padding: 5%;
  background-color: #495e57;
}

section {
  display: flex;
  justify-content: space-between;

}

article {
  padding: 5rem;
}

article h1 {
  color: #F4CE14;
}

article button,
input[type="submit"] {
  background-color: #F4CE14;
  padding: 20px;
  text-decoration: none;
  border-radius: 12px;
  font-size: 1em;
  border: none;
  cursor: pointer;
}

article h2,
article p {
  color: #EDEFEE;
  text-align: justify;
}

article img {
  border-radius: 12px;
  width: 20rem;
}


footer {
  display: flex;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
}

footer img {
  width: 50px;
}

footer div {
  flex: 1;
}

#form-section {
  align-items: center;
  justify-content: center;
}

form {
  color: #EDEFEE;
  font-size: large;
}

fieldset {
  margin: 5px;
}

fieldset>div {
  margin: 20px;
  display: flex;
}

fieldset>div label {
  flex: 1;
  margin-right: 150px;
}
